
<div id="device" class="mt-4">
  <% if @devices.empty? %>
    Nenhum dispositivo cadastrado
  <% else %>
    <table class="table table-striped table-hover">
      <thead class="text-danger">
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Ip</th>
          <th scope="col">Detalhes</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% @devices.each do |d| %>
          <tr>
            <td><%= d.name %></td>
            <td><%= d.brand %></td>
            <td><%= d.model %></td>
            <td><%= d.ip %></td>
            <td>
              <a href=<%= device_path(d.id)%> title="">
                <i class="bi bi-eye link-secondary"></i>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>