<%= form_with(model: @device) do |f| %>
  <div class="input-group mt-4">
    <span class="input-group-text"><%= f.label :name,'Nome' %></span>
    <input type="text" name="device[name]" id="device_name" class="form-control" placeholder="<%= @device.name || "Nome"%>" aria-label="With textarea"/>
  </div>
  
  <div class="input-group mt-4">
    <span class="input-group-text"><%= f.label :brand,'Marca' %></span>
    <input type="text" name="device[brand]" id="device_brand" class="form-control" placeholder="<%= @device.brand || "Marca"%>" aria-label="With textarea"/>
  </div>
  
  <div class="input-group mt-4">
    <span class="input-group-text"><%= f.label :model,'Modelo' %></span>
    <input type="text" name="device[model]" id="device_model" class="form-control" placeholder="<%= @device.model || "Modelo"%>" aria-label="With textarea"/>
  </div>
  
  <div class="input-group mt-4">
    <span class="input-group-text"><%= f.label :ip,'IP' %></span>
    <input type="text" name="device[ip]" id="device_ip" class="form-control" placeholder="<%= @device.ip || "IP"%>" aria-label="With textarea"/>
  </div>

  <div class="input-group mt-4">
    <span class="input-group-text"><%= f.label :mac_address,'MacAddress' %></span>
    <input type="text" name="device[mac_address]" id="device_mac_address" class="form-control" placeholder="<%= @device.mac_address || "Mac Address"%>" aria-label="With textarea"/>
  </div>

  <div class="input-group mt-4">
    <span class="input-group-text"><%= f.label :place,'Local' %></span>
    <input type="text" name="device[place]" id="device_place" class="form-control" placeholder="<%= @device.place || "Local"%>" aria-label="With textarea"/>
  </div>
  
  <div class="input-group mt-4">
    <span class="input-group-text"><%= f.label :note,'Observação:' %></span>
    <input type="text" name="device[note]" id="device_note" class="form-control" placeholder="<%= @device.note || "Observação"%>" aria-label="With textarea"/>
  </div>

  <div class="mt-4">
    <%= f.submit 'Salvar', class: "btn btn-secondary mt4" %> <%= link_to 'Voltar', :back, class: "btn btn-secondary"%>
  </div>
<% end %>