<%= form_with(model: @device) do |f| %>
  <label class="ls-label col-md-3">
    <div>
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name %>
    </div>
  </label>
  <label class="ls-label col-md-3">
    <div>
      <%= f.label :brand, 'Marca' %>
      <%= f.text_field :brand %>
    </div>
  </label>
  <label class="ls-label col-md-3">
    <div>
      <%= f.label :model, 'Modelo' %>
      <%= f.text_field :model %>
    </div>
  </label>
  <label class="ls-label col-md-3">
    <div>
      <%= f.label :ip, 'IP' %>
      <%= f.text_field :ip %>
    </div>
  </label>
  <label class="ls-label col-md-3">
    <div>
      <%= f.label :mac_address, 'MacAddress' %>
      <%= f.text_field :mac_address %>
    </div>
  </label>
  <label class="ls-label col-md-3">
    <div>
      <%= f.label :place, 'Local' %>
      <%= f.text_field :place %>
    </div>
  </label>
  <label class="ls-label col-md-3">
    <div>
      <%= f.label :note, 'Observação' %>
      <%= f.text_area :note %>
    </div>
  </label>
  <label class="ls-label col-md-3">
    <div class="ls-actions-btn">
      <%= f.submit 'Salvar', class: "ls-btn" %>
    </div>
  </label>
<% end %>