<div class="card">
  <div class="card-body">
    <h3><%= @device.name %></h3>
    <p><%= @device.brand %> | <%= @device.model %></p>
    <p><b>IP:</b> <%= @device.ip %></p>
    <p><b>MacAddress:</b> <%= @device.mac_address %></p>
    <p><b>Local:</b> <%= @device.place %></p>
    <p><b>Observação:</b> <%= @device.note %></p>
    <p><%= link_to 'Editar', edit_device_path(@device.id), class:"btn btn-secondary" %></p>
  </div>
</div>