
<div>
  <%= form_with model: @computer do |f| %>
    <div class="input-group mt-4 mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Empresa</label>
      <%= f.collection_select(:company_id, Company.all, :id, :fantasy_name , {class: "form-select", id: "inputGroupSelect01"})%>
    </div>
    
    <div class="input-group mt-4 mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Departamento</label>
      <%= f.collection_select(:departament_id, Departament.all, :id, :name, {class: "form-select", id: "inputGroupSelect01"})%>
    </div>
    
    <div class="input-group mt-4 mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Usuário</label>
      <%= f.collection_select(:person_id, Person.all, :id, :name, {class: "form-select", id: "inputGroupSelect01"})%>
    </div>
    
    <div class="input-group mt-4 mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Tipo do computador</label>
      <%= f.collection_select(:computer_type_id, ComputerType.all, :id, :name, {class: "form-select", id: "inputGroupSelect01"})%>
    </div>

    <div class="input-group mt-4">
      <span class="input-group-text"><%= f.label :cpu,'CPU' %></span>
      <input type="text" name="computer[cpu]" id="computer_cpu" class="form-control" placeholder="CPU" aria-label="With textarea"/>
    </div>
    
    <div class="input-group mt-4 mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Tipo de memória</label>
      <%= f.select :memory_type, [ 'DDR3', 'DDR4'], { class:"form-select", id: "inputGroupSelect01" } %>
    </div>

    <div class="input-group mt-4">
      <span class="input-group-text"><%= f.label :memory, 'Tamanho da memória' %></span>
      <input type="number" name="computer[memory]" id="computer_memory" class="form-control" placeholder="Memory" aria-label="With textarea"/>
    </div>

    <div class="input-group mt-4">
      <span class="input-group-text"><%= f.label :gpu,'GPU' %></span>
      <input type="text" name="computer[gpu]" id="computer_gpu" class="form-control" placeholder="GPU" aria-label="With textarea"/>
    </div>

    <div class="input-group mt-4">
      <span class="input-group-text"><%= f.label :mother_board,'Placa Mãe' %></span>
      <input type="text" name="computer[mother_board]" id="computer_mother_board" class="form-control" placeholder="Placa Mãe" aria-label="With textarea"/>
    </div>

    <div class="input-group mt-4 mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Tipo de armazenamento</label>
      <%= f.select :storage_type, [ 'HD', 'SSD', 'M2'], { class:"form-select", id: "inputGroupSelect01" } %>
    </div>

    <div class="input-group mt-4">
      <span class="input-group-text"><%= f.label :storage, 'Tamanho do armazenamento' %></span>
      <input type="number" name="computer[storage]" id="computer_storage" class="form-control" placeholder="Storage" aria-label="With textarea"/>
    </div>

    <div class="input-group mt-4">
      <span class="input-group-text"><%= f.label :mac_address,'Mac Address' %></span>
      <input type="text" name="computer[mac_address]" id="computer_mac_address" class="form-control" placeholder="Mac Address" aria-label="With textarea"/>
    </div>

    <div class="input-group mt-4">
      <span class="input-group-text"><%= f.label :ip,'IP' %></span>
      <input type="text" name="computer[ip]" id="computer_ip" class="form-control" placeholder="IP" aria-label="With textarea"/>
    </div>

    <div class="input-group mt-4 mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Sistema Operacional</label>
       <%= f.collection_select(:operating_system_id, OperatingSystem.all, :id, :name, {class: "form-select", id: "inputGroupSelect01"})%>
    </div>
    
    <div class="input-group mt-4">
      <span class="input-group-text"><%= f.label :operating_system_key,'Sistema Operacional Key' %></span>
      <input type="text" name="computer[operating_system_key]" id="computer_operating_system_key" class="form-control" placeholder="Sistema Operacional Key" aria-label="With textarea"/>
    </div>

    <div class="input-group mt-4 mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Office</label>
      <%= f.select :office, [ 'Office 2010', 'Office 2013', 'Office 2018'], { class:"form-select", id: "inputGroupSelect01" } %>
    </div>

    <div class="input-group mt-4">
      <span class="input-group-text"><%= f.label :office_key,'Office Key' %></span>
      <input type="text" name="computer[office_key]" id="computer_office_key" class="form-control" placeholder="Office Key" aria-label="With textarea"/>
    </div>
    
    <div class="input-group mt-4">
      <span class="input-group-text"><%= f.label :note,'Observação:' %></span>
      <input type="text" name="computer[note]" id="computer_note" class="form-control" placeholder="Observação" aria-label="With textarea"/>
    </div>

    <div class="mt-4">
      <%= f.submit 'Salvar', class: "btn btn-secondary mt4" %>
    </div>
  <% end %>
</div>