<%= form_with model: @computer do |f| %>
  <div>
    <%= f.label :company_id, 'Empresa' %>
    <%= f.collection_select(:company_id, Company.all, :id, :fantasy_name) %>
  </div>
  <div>
    <%= f.label :departament_id, 'Departamento' %>
    <%= f.collection_select(:departament_id, Departament.all, :id, :name) %>
  </div>
  <div>
    <%= f.label :person_id, 'Usuário' %>
    <%= f.collection_select(:person_id, Person.all, :id, :name) %>
  </div>
  <div>
    <%= f.label :computer_type_id, 'Tipo do computador' %>
    <%= f.collection_select(:computer_type_id, ComputerType.all, :id, :name) %>
  </div>
  <div>
    <%= f.label :cpu, 'CPU' %>
    <%= f.text_field :cpu %>
  </div>
  <div>
    <%= f.label :memory_type, 'Tipo de memória' %>
    <%= f.select :memory_type, [ 'DDR3', 'DDR4'] %>
  </div>
  <div>
    <%= f.label :memory, 'Tamanho da memória' %>
    <%= f.number_field :memory %>
  </div>
  <div>
    <%= f.label :gpu, 'GPU' %>
    <%= f.text_field :gpu %>
  </div>
  <div>
    <%= f.label :mother_board, 'Placa Mãe' %>
    <%= f.text_field :mother_board %>
  </div>
  <div>
    <%= f.label :storage_type, 'Tipo de armazenamento' %>
    <%= f.select :storage_type, [ 'HD', 'SSD', 'M2'] %>
  </div>
  <div>
    <%= f.label :storage, 'Tamanho do armazenamento' %>
    <%= f.number_field :storage %>
  </div>
  <div>
    <%= f.label :mac_address, 'Mac Address' %>
    <%= f.text_field :mac_address %>
  </div>
  <div>
    <%= f.label :ip, 'IP' %>
    <%= f.text_field :ip %>
  </div>
  <div>
    <%= f.label :operating_system_id, 'Sistema Operacional' %>
    <%= f.collection_select(:operating_system_id, OperatingSystem.all, :id, :name) %>
  </div>
  <div>
    <%= f.label :operating_system_key, 'Sistema Operacional Key' %>
    <%= f.text_field :operating_system_key %>
  </div>
  <div>
    <%= f.label :office, 'Office' %>
    <%= f.select :office, [ 'Office 2010', 'Office 2013', 'Office 2018'] %>
  </div>
  <div>
    <%= f.label :office_key, 'Office Key' %>
    <%= f.text_field :office_key %>
  </div>
  <%= f.submit 'Salvar' %>
<% end %>
