<h1><%= @computer.code %></h1>

<div class="card">
  <div class="card-body">
      <%= @computer.company.fantasy_name %> | <%= @computer.departament.name %>
      <%= @computer.person.name %> | <%= @computer.person.branch_line %>
      <b><%= @computer.computer_type.name %></b>
      CPU: <%= @computer.cpu %> | MB: <%= @computer.mother_board %> | GPU: <%= @computer.gpu %>
      Memória: <%= @computer.memory_type %> | <%= @computer.memory %> GB
      Armazenamento: <%= @computer.storage_type %> | <%= @computer.storage %> GB
      <%= @computer.operating_system.name %> | KEY: <%= @computer.operating_system_key %>
      <%= @computer.office %>
      MAC_ADDRESS: <%= @computer.mac_address %> | IP: <%= @computer.ip %>
  </div>
</div>

<%= link_to 'Editar', edit_computer_path(@computer.id), class: "btn" %>