<h1 class="text-center">Bem vindo</h1>

<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3">Dados do sistema</h2>
    <p class="ls-float-right ls-float-none-xs ls-small-info">data: <strong><%= @date.strftime("%d/%m/%Y %H:%M") %></strong></p>
  </header>
  <div id="sending-stats" class="row">
    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h3><i class="bi bi-people"></i></h3><h6>Pessoas</h6>
        </div>
        <div class="ls-box-body">
          <strong><%= @people.count %></strong>
          <small>Cadastradas</small>
        </div>
        <div class="ls-box-footer">
          <a href="/people" aria-label="Listar pessoas" class="btn btn-secondary" title="Listar pessoas cadastradas">Listar pessoas</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h3><i class="bi bi-envelope-at"></i></h3><h6> E-mails</h6>
        </div>
        <div class="ls-box-body">
          <strong><%= @emails.count %></strong>
          <small>Cadastrados</small>
        </div>
        <div class="ls-box-footer">
          <a href="/emails" aria-label="Listar e-mails" class="btn btn-secondary" title="Listar e-mails">Listar e-mails</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h3><i class="bi bi-pc-display-horizontal"></i></h3><h6> Computadores</h6>
        </div>
        <div class="ls-box-body">
          <strong><%= @computers.count %></strong>
          <small>Cadastrados</small>
        </div>
        <div class="ls-box-footer">
          <a href="/computers" aria-label="Listar computadores" class="btn btn-secondary" title="Listar computadores">Listar computadores</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h3><i class="bi bi-calendar4-week"></i></h3>
        </div>
        <div class="ls-box-body">
          <div class="col-xs-6">
            <strong><%= @date.strftime("%d") %>/<%= @date.strftime("%m") %></strong>
          </div>
          <div class="col-xs-6">
            <strong>20<%= @date.strftime("%y") %></strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
<% if user_signed_in? %>
  <div class="ls-box ls-board-box">
    <header class="ls-info-header">
      <h2 class="ls-title-3">Painel administrativo</h2>
      <p class="ls-float-right ls-float-none-xs ls-small-info">data: <strong><%= @date.strftime("%d/%m/%Y %H:%M") %></strong></p>
    </header>
    <div id="sending-stats" class="row">
      <div class="col-sm-6 col-md-3">
        <div class="ls-box">
          <div class="ls-box-head">
            <h3><i class="bi bi-person-gear"></i></h3> <h6>Usuários</h6>
          </div>
          <div class="ls-box-body">
            <strong><%= @users.count %></strong>
            <small>cadastrados</small>
          </div>
          <div class="ls-box-footer">
            <!--<a href="/companies" aria-label="Empresa" class="btn btn-secondary" title="Listar empresas">Listar empresas</a>-->
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="ls-box">
          <div class="ls-box-head">
            <h3><i class="bi bi-gear"></i></h3> <h6>Departamentos</h6>
          </div>
          <div class="ls-box-body">
            <strong><%= @departaments.count %></strong>
            <small>Cadastrados</small>
          </div>
          <div class="ls-box-footer">
            <a href="/departaments" aria-label="Departamentos" class="btn btn-secondary" title="Listar departamentos">Listar departamentos</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="box">
          <div class="ls-box-head">
            <h3><i class="bi bi-wifi"></i></h3>
          </div>
          <div class="ls-box-body">
            <div class="col-xs-6">
              <strong>CCAbba </strong>
              <small>cc8246139</small>
            </div>
            <div class="col-xs-6">
              <strong>CCA</strong>
              <small>2023cca80</small>
            </div>
          </div>
          <div class="ls-box-footer">
            <a href="https://192.168.1.175:8443" aria-label="Nova senha" class="btn btn-secondary" title="Gerar novas senhas">Gerenciador</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="ls-box">
          <div class="ls-box-head">
            <h3><i class="bi bi-door-closed"></i></h3>
          </div>
          <% if @password_door != nil %>
            <div class="ls-box-body">
              <div >
                <strong><%= @password_door.top %></strong>
                <i class="bi bi-arrow-up"></i>
              </div>
              <div class="col-xs-6">
                <strong><%= @password_door.bottom %></strong>
                <i class="bi bi-arrow-down"></i>
              </div>
            </div>
          <% end %>
          <div class="ls-box-footer">
            <a href="/password_doors/new" aria-label="Nova senha" class="btn btn-secondary" title="Gerar novas senhas">Gerar nova senha</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
