<%= form_with model: @departament do |d| %>
  <label class="ls-label col-md-3">  
    <div>
      <%= d.label :name, 'Nome' %>
      <%= d.text_field :name %>
    </div>
  </label>

  <label class="ls-label col-md-3">
    <%= d.label :company_id, 'Empresa' %>
    <div class="ls-custom-select">
      <%= d.collection_select(:company_id, Company.all, :id, :fantasy_name) %>
    </div>
  </label>
  <label class="ls-label col-md-3">
    <div class="ls-custom-btn">
      <%= d.submit 'Salvar', class:"ls-btn" %>
    </div>
  </label>
<% end %>