<%= form_with model: @departament do |d| %>
  <p>
    <label class="ls-label">  
      <%= d.label :name, 'Nome' %>
      <%= d.text_field :name %>
    </label>
  </p>
  
  <p>
    <label class="ls-label">
      <%= d.label :company_id, 'Empresa' %>
      <%= d.collection_select(:company_id, Company.all, :id, :fantasy_name) %>
    </label>
  </p>

  <label class="ls-label">
    <div class="ls-custom-btn">
      <%= d.submit 'Salvar', class:"ls-btn" %>
    </div>
  </label>
<% end %>