<%= form_with model: @departament do |d| %>
  <p>
    <div class="input-group mt-4">
      <span class="input-group-text"><%= d.label :name,'Nome' %></span>
      <input type="text" name="departament[name]" id="departament_name" class="form-control" placeholder="<%= @departament.name || "Digite o nome do departamentoNome"%>" aria-label="With textarea"/>
    </div>
  </p>

  <p>
    <div class="ls-label input-group mb-3">
      <label class="input-group-text"><%= d.label :company_id, 'Empresa' %></label>
      <%= d.collection_select(:company_id, Company.all, :id, :fantasy_name) %>
    </div>
  </p>

  <div class="mt-4">
    <%= d.submit 'Salvar', class: "btn btn-secondary mt4" %> <%= link_to 'Voltar', :back, class: "btn btn-secondary"%>
  </div>

<% end %>
