<h1><%= @departament.name %></h1>

<div class="card">
  <div class="card-body">
    <p><%= @departament.company.name %></p>
    <p><%= link_to 'Editar', edit_departament_path(@departament.id), class:"btn btn-secondary" %></p>
        
    <h4>Pessoas</h4>
    <% @departament.people.each do |person| %>
      <p><%= person.name %> - <%= person.branch_line%></p>
    <% end %>
  </div>
</div>