<div id="companies" class="mt-4">
  <% if @companies.empty? %>
    Nenhuma empresa cadastrada
  <% else %>
    <table class="table table-striped table-hover">
      <thead class="text-danger">
        <tr>
          <th scope="col">Nome fantasia</th>
          <th scope="col">CNPJ</th>
          <th scope="col">CEP</th>
          <th scope="col">Endereço</th>
          <th scope="col">Detalhes</th>
        </tr>
      </thead>
      
        <tbody class="table-group-divider">
        <% @companies.each do |c| %>
        <tr>
          <td><%= link_to c.fantasy_name, company_path(c.id)  %></a></td>
          <td><%= c.registration_number %></td>
          <td><%= c.postal_code %></td>
          <td><%= c.address %></td>
          <td><a href=<%= company_path(c.id)%> title="">

            <i class="bi bi-eye link-secondary"></i>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>