
<div>
  <%= form_with model: @company do |f| %>
    <label class="ls-label col-md-3">
      <div>
        <%= f.label :name,'Razão Social' %>
        <%= f.text_field :name %>
      </div>
    </label>
    <label class="ls-label col-md-3">
      <div>
        <%= f.label :fantasy_name,'Nome Fantasia' %>
        <%= f.text_field :fantasy_name %>
      </div>
    </label>
    <label class="ls-label col-md-3">
      <div>
        <%= f.label :registration_number,'CNPJ' %>
        <%= f.text_field :registration_number %>
      </div>
    </label>
    <label class="ls-label col-md-3">
      <div>
        <%= f.label :postal_code,'CEP' %>
        <%= f.text_field :postal_code %>
      </div>
    </label>
    <label class="ls-label col-md-3">
      <div>
        <%= f.label :address,'Endereço' %>
        <%= f.text_field :address %>
      </div>
    </label>
    <label class="ls-label col-md-3">
      <div>
        <%= f.label :district,'Bairro' %>
        <%= f.text_field :district %>
      </div>
    </label>
    <label class="ls-label col-md-3">
      <div>
        <%= f.label :city, 'Cidade' %>
        <%= f.text_field :city %>
      </div>
    </label>
    <label class="ls-label col-md-3">
      <div>
        <%= f.label :state, 'Estado' %>
        <%= f.text_field :state %>
      </div>
    </label>
    <label class="ls-label col-md-3">
      <div>
        <%= f.label :fone_number, 'Telefone' %>
        <%= f.text_field :fone_number %>
      </div>
    </label>
    <div class="ls-actions-btn">
      <%= f.submit 'Salvar', class: "ls-btn" %>
    </div>
  <% end %>
</div>