<h1><%= @company.name %></h1>

<div class="card">
  <div class="card-body">
    <p><b>CNPJ:</b>
    <%= @company.registration_number %></p>
    <p><b>CEP:</b>
    <%= @company.postal_code %></p>
    <p>
      <b>
        Endereço:
      </b>
      <%= @company.address %>
    </p>
    <p>
      <b>
        Bairro:
      </b>
      <%= @company.district %>
    </p>
    <p>
      <b>   
        Cidade:
      </b>
      <%= @company.city %>
    </p>  
    <p>
      <b>
        Estado:
      </b>
      <%= @company.state %>
    </p>
    <p>
      <b>
        Telefone:
      </b>
      <%= @company.fone_number %>
    </p>    
  </div>
</div>

<%= link_to 'Editar', edit_company_path(@company.id), class:"btn btn-secondary mt-4" %>