<%= form_with model: @password_door do |f| %>
  <label class="ls-label col-md-3">  
    <div>
      <%= f.label :top, 'Top' %>
      <%= f.number_field :top %>
    </div>
  </label>

  <label class="ls-label col-md-3">  
    <div>
      <%= f.label :bottom, 'Bottom' %>
      <%= f.number_field :bottom %>
    </div>
  </label>
  <label class="ls-label col-md-3">
    <div class="ls-custom-btn">
      <%= f.submit 'Salvar', class:"ls-btn" %>
    </div>
  </label>
<% end %>