<h1><%= @email.account %></h1>

<div class="card">
  <div class="card-body">
    <p><%= @email.company.name %> - <%= @email.departament.name %></p>
    <p>Nome do usuário: <%= @email.person.name %></p>

    <% if user_signed_in? %>
      <p>Senha: <%= @email.password %></p>
    <% end %>
  </div>

<%= link_to 'Editar', edit_email_path(@email.id), class:"btn btn-secondary" %>
</div>