<!DOCTYPE html>
<html>
  <head>
    <title>Abba-Info</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark text-bg-dark link-light fs-5">
      <div class="container-fluid">
        <a class="navbar-brand text-bg-dark" href="#">
        <i class="bi bi-cup-hot text-bg-dark"></i>
        ABBA - Info
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link link-light " aria-current="page" href="/">Home</a>
            </li>
            <div id='listas'>
              <li class="nav-item dropdown">
                <a class="nav-link link-light dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Listar
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/companies">Empresas</a></li>
                  <li><a class="dropdown-item" href="/departaments">Departamentos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/people">Pessoas</a></li>
                  <li><a class="dropdown-item" href="/emails">Emails</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/computers">Computadores</a></li>
                  <li><a class="dropdown-item" href="/devices">Dispositivos</a></li>
                </ul>
              </li>
            </div>
            <% if user_signed_in? %>
              <div id='cadastros'>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle link-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Cadastrar
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/companies/new">Empresas</a></li>
                    <li><a class="dropdown-item" href="/departaments/new">Departamentos</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/people/new">Pessoas</a></li>
                    <li><a class="dropdown-item" href="/emails/new">Emails</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/computers/new">Computadores</a></li>
                    <li><a class="dropdown-item" href="/devices/new">Dispositivos</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/computer_types/new">Tipo de computador</a></li>
                    <li><a class="dropdown-item" href="/operating_systems/new">S.O.</a></li>
                  </ul>
                </li>
              </div>
            <%end%>
          </ul>
          <%# <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form> %>
          <% if user_signed_in? %>
            <span class="link-light"><%= current_user.email %> 
              <i class="bi bi-person-circle link-light"></i>
            </span>
          <% else %>
            <a href="/users/sign_in">
              <i class="bi bi-person-circle link-danger"></i>
            </a>
          <% end %>
        </div>
      </div>
    </nav>
  
    <main class="container">
      <div class="container-fluid">
        <div id='avisos'>
          <% if notice != nil %>
            <div class="alert alert-success" role="alert">
              <p><%= notice %></p>
            </div>
          <% end %>
          <% if alert != nil %>
            <div class="alert alert-danger" role="alert">
              <p><%= alert %></p>
            </div>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </main>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
