<!DOCTYPE html>
<html>
  <head>
    <title>Abba-Info</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Inicio', root_path %> |
      <%= link_to 'Cadastrar empresa', new_company_path %>
      <%= link_to 'Cadastrar departamento', new_departament_path %>
      <%= link_to 'Cadastrar pessoa', new_person_path %>
      | <%= link_to 'Lista de empresas', companies_path %>
      <%= link_to 'Lista de departamentos', departaments_path %>
    </nav>
    <div>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    <%= yield %>
  </body>
</html>
